
.intro{
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
    border: 2px solid #253752;
    background-color: #2B4162;
    color: antiquewhite;
}

.barsup{
    background: linear-gradient(to bottom, #2B4162, transparent); 
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}
.barsup ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex ;
    justify-content: space-between;
    width: 100%; 
}
.barsup ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: center;
    padding: 5px;
}

.box{
    display: flex;
    align-items: center;
    width: 100%;
   justify-content: center;

}
.box p{
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #000000;
    background-color: #2B4162;
    color: antiquewhite;
}
body{
    background-image: url("images/background.jpg");
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    margin: 0;
    padding: 0;
}

.corps_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.zone {
    fill: rgba(255, 0, 0, 0.1); 
    stroke: red;
    stroke-width: 0;
    transition: fill 0.3s, stroke 0.3s;
    cursor: pointer;
}

/* Effet au survol */
.zone:hover {
    fill: rgba(0, 255, 0, 0.5); /* Vert semi-transparent */
    stroke: green;
}
.corps_principal svg img{
    align-items: center ;

}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    display: none; /* Initialement cachée */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* Initialement cachée */
}

.popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: darkred;
}

.infoC{
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #000000;
    background-color: #2B4162;
    color: antiquewhite;
}